aiofiles==23.2.1
aiohttp==3.8.5
diffusers==0.20.0.dev0
discord.py==2.3.2
emoji==2.10.1
graphviz==0.20.1
PyGithub==2.2.0
PyGithub==2.2.0
Requests==2.31.0
setuptools==69.0.2
torch==2.0.1
watchdog==4.0.0
youtube_dl==2021.12.17
